$containerSize: 80%;
$primaryColor: #FFBB0D;
$fontStack: 'Roboto', sans-serif;

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	background-image: url('../images/backdrop.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}